extends templates/handy_template.pug

block content
  .container-fluid.fill-screen-height
    .row
      .offset-1.col-10
        h1 Please select a new password

        form.form-horizontal(
          name='passwordReset'
          id= 'passwordReset'
          action='/handy/password/reset'
          method='post'
          role='form'
          )

          include ./components/csrf.pug

          .form-group.row
            label.col-form-label.col-1(for='userEmail') Account email
            .col-4
              input.form-control(
                type='email'
                id='userEmail'
                name='userEmail'
                value= pageInfo.resetUserEmail
                readonly
              )

          .form-group.row
            label.col-form-label.col-1(for='userPassword') New password
            .col-4
              input.form-control(
                type='password'
                id='userPassword'
                name='userPassword'
                placeholder='your new password'
                required
              )

          .form-group.row
            label.col-form-label.col-1(for='userPasswordConfirmation') Confirm password
            .col-4
              input.form-control(
                type='password'
                id='userPasswordConfirmation'
                name='userPasswordConfirmation'
                placeholder='confirm password by entering it again'
                required
              )

          #validation_message.hidden
            p.text-danger Password and password confirmation do not match.  Please make corrections to ensure they are the same

          .form-group.row
            .offset-1.col-4
              button.btn.btn-primary(type='submit') Reset password

block bottomscripts
  script.
    // perform validation upon form submission
    window.onload = function(){
      // set form submission eventlistener
      document.getElementById('passwordReset').addEventListener('submit', validateForm);
    }

    function validateForm(e){
      // compare both password entries; if empty or not the same, stop processing and alert user

      var password = document.getElementById('userPassword').value.trim();
      var passwordConfirmation = document.getElementById('userPasswordConfirmation').value.trim();

      if(!password || password !== passwordConfirmation){
        e.preventDefault();
        document.getElementById('validation_message').classList.remove('hidden');
      }
    }