form(
  id='theme_config'
  name='theme_config'
  action='/handy/theme_config'
  method='post'
  role='form'
)
  include ../components/csrf.pug

  .row
    .col-12
      h4 Theme stuff: To Be Implemented
